/* .postLoginContainer{
    
} */

.postLoginContainerHeader {
    background-color: rgb(100, 149, 165);
    text-align: center;
    height: 10vh;
    color: white;
    
}

.postLoginContainerSection {
    height: 80vh;
}

.postLoginContainerSidebarNav{
    float: left;
    width: 20%;
    height: 100%;
    background:#415161;;
    padding: 20px;
}

.postLoginContainerContent {
    float: left;
    padding: 20px;
    width: 80%;
    background-color:white;
    height: 100%;
}

.postLoginContainerFooter{
    background-color: rgb(132, 198, 220);
    padding: 10px;
    text-align: center;
    height: 10vh;
}

.postLoginContainerFooterText{
    margin: 0px;
    color: white;
}



