.productTableWrapper{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.productTableWrapper table{
    table-layout: fixed;
        border-collapse: collapse;
        width: 100%;
}

td {
    border: 1px solid #dddddd;
    text-align: center;
    margin: 4px;  
    width: 100px;  
}

th{
    border: 1px solid #dddddd;
    text-align: center;
    margin: 4px;
    width: 100px;
}

.productPage{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    height: 100%;
    overflow: auto;
    background-color:lightcyan;
}

.productCard{
    display: flex;
    flex-direction:column;
    border:1px solid black;
    margin: 40px;
    border-radius: 20px;
    height: fit-content;
    width: 450px;
    background-color:white;
}

.productDetail{
    display: flex;
    flex-direction:column;
    font-family:'Times New Roman', Times, serif;
    align-items: center;
    width: 400px;

}

.productDescription{
    padding-top: 45px;

}

.read-more-link{
    color:cornflowerblue;
    text-decoration: underline;
    letter-spacing: 1px;
    cursor: pointer;
  }

.productLabel{
    font-weight: bold;
}

.productPrice{
    border: 1px solid black;
    border-radius: 15px;
    padding: 7px;
    background-color: lightblue;
    cursor: pointer;
    
}

.productImageTitle{
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100px;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    
}

@media screen and (max-width: 520px) {
    .productDetail,.productCard{
        display: flex;
        flex-direction: column;
    }
  }