.editUserFormWrapper{
    height: 100%;
}

.editUserForm{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    overflow: auto;
    justify-content: center;
}

.formField{
    display:flex;
    flex-direction: row;
    margin-top:5px;
    
}

.formFieldLabel{
    width: 100px;
    display:flex;
    flex-direction: column;
    align-items: end;
    margin-right: 10px;
    font-weight: bold;
}

.formFieldInput{
    height:20px;
    width: 150px;
    margin-right: 10px;
}

